@import url('https://fonts.cdnfonts.com/css/gilam');
@import url('https://fonts.cdnfonts.com/css/circe');

.body-box {
    width: 100%;
}

.top-wrapper {
    background-color: #171717;
    box-sizing: border-box;
    height: 4000px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.wrapper1 {
    display: flex;
    justify-content: space-between;
    padding-top: 37px;
    width: 1460px;
}

.logo-box {
    display: flex;
    align-items: center;
    height: 50px;
}

.feadback-box-buttom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 218px;
    height: 50px;
    padding: 10px 25px ;
    font-family: 'Circe', sans-serif;
    font-size: 18px;
    color: #E4B564;
    text-decoration: none;
    border: 1px solid #E4B564;
    box-sizing: border-box;
}

.wrapper2 {
    width: 1460px;
}

.section1 {
    padding-top: 120px;
}

.header {
    font-family: 'Gilam', sans-serif;
    font-weight: 700;
    font-size: 50px;
    color: #FFFFFF;
}

.content1 {
    padding-top: 41px;
    font-family: 'Gilam', sans-serif;
    font-weight: 700;
    font-size: 20px;
    color: #FFFFFF;
}

.grid1 {
    display: grid;
    grid-template-rows: 470px 470px;
    grid-template-columns: 470px 220px 220px 470px;
    gap: 26px;
    padding-top: 41px;
    font-family: 'Gilam', sans-serif;
    font-weight: 700;
    font-size: 20px;
    grid-template-areas: 
        "item1 item2 item2 item3"
        "item4 item4 item5 item5"
}

.section1-item1 {
    display: flex;
    justify-content: center;
    align-items: center;
    grid-area: item1;
    background-color: #634F2C;
    text-decoration: none;
    color: #FFFFFF;
}

.section1-item2 {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    grid-area: item2;
    background-color: #B4A385;
    text-decoration: none;
    color: #FFFFFF;
}

.section1-item3 {
    display: flex;
    justify-content: center;
    align-items: center;
    grid-area: item3;
    background-color: #E4B564;
    text-decoration: none;
    color: #FFFFFF;
}

.section1-item4 {
    display: flex;
    justify-content: center;
    align-items: center;
    grid-area: item4;
    background-color: #635A4A;
    text-decoration: none;
    color: #FFFFFF;
}

.section1-item5 {
    display: flex;
    justify-content: center;
    align-items: center;
    grid-area: item5;
    background-color: #B08C4D;
    text-decoration: none;
    color: #FFFFFF;
}

.section2 {
    padding: 161px 0 191px;
}

.grid2 {
    display: grid;
    grid-template-rows: 260px 28px 130px 104px 274px;
    grid-template-columns: 470px 470px 470px;
    gap: 26px;
    padding-top: 41px;
    font-family: 'Gilam', sans-serif;
    font-weight: 700;
    font-size: 20px;
    color: #FFFFFF;
    grid-template-areas: 
        "item1 item2 item3"
        "item1 item2 item6"
        "item4 item2 item6"
        "item4 item5 item6"
        "item4 item5 item7"
}

.section2-item1 {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    padding: 50px 0 0 50px;
    grid-area: item1;
    background-color: #0E0E0E;
}

.section2-item2 {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    padding: 50px 0 0 50px;
    grid-area: item2;
    background-color: #242424;
}

.section2-item3 {
    display: flex;
    justify-content: start;
    align-items: start;
    padding: 50px 0 0 50px;
    grid-area: item3;
    background-color: #1F1F1F;
}

.section2-item4 {
    display: flex;
    justify-content: start;
    align-items: start;
    padding: 50px 0 0 50px;
    grid-area: item4;
    background-color: #1F1F1F;
    
}

.section2-item5 {
    display: flex;
    justify-content: start;
    align-items: start;
    padding: 50px 0 0 50px;
    grid-area: item5;
    background-color: #E4B564;
    margin-bottom: 10px;
    
}

.section2-item6 {
    display: flex;
    justify-content: start;
    align-items: start;
    padding: 50px 0 0 50px;
    grid-area: item6;
    background-color: #0E0E0E;
}

.section2-item7 {
    display: flex;
    justify-content: start;
    align-items: start;
    padding: 50px 0 0 50px;
    grid-area: item7;
    background-color: #0A0909;
}

.section2-text1 {
    font-family: 'Gilam', sans-serif;
    font-weight: 300;
    font-size: 20px;
}

.section2-text2 {
    font-family: 'Gilam', sans-serif;
    font-weight: 700;
    font-size: 20px;
    }

.wrapper4 {
    width: 1920px;
    padding-top: 172px;
    background-color: #0E0E0E;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section3 {
    
    width: 1460px;
}

.section3-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.project-box {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 180px;
    border: 1px solid #E4B564;
    box-sizing: border-box;
    font-family: 'Circe', sans-serif;
    font-size: 18px;
    color: #E4B564;
    text-decoration: none;
}

.grid3 {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    height: 782px;
    padding-top: 72px;
}

.section3-item1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #634F2C;
    text-decoration: none;
}

.section3-item1:hover .hover-text {
    height: max-content;
    opacity: 1;
    transition: opacity 0.5s ease-in-out;
} 

.hover-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 0;
    height: 0;
    padding-top: 16px;
    font-family: 'Gilam', sans-serif;
    font-weight: 400;
    font-size: 20px;
    color: #FFFFFF;
    text-align: center;
    line-height: 28px;
}

.section3-item2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #E8D2ABC2;
    text-decoration: none;   
}

.section3-item2:hover .hover-text {
    height: max-content;
    opacity: 1;
    transition: opacity 0.5s ease-in-out;
}

.section3-text {
    font-family: 'Gilam', sans-serif;
    font-weight: 600;
    font-size: 20px;
    color: #FFFFFF;
    text-align: center;
    line-height: 28px;
}

.section3-item3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color:#E4B564;
    text-decoration: none;
}

.section3-item3:hover .hover-text {
    height: max-content;
    opacity: 1;
    transition: opacity 0.5s ease-in-out;
} 

.section3-item4 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color:#635A4A;
    text-decoration: none;
}

.section3-item4:hover .hover-text {
    height: max-content;
    opacity: 1;
    transition: opacity 0.5s ease-in-out;
} 

.section3-item5 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color:#B08C4D;
    text-decoration: none;
}

.section3-item5:hover .hover-text {
    height: max-content;
    opacity: 1;
    transition: opacity 0.5s ease-in-out;
} 

.section3-item6 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #634F2C;
    text-decoration: none;
}

.section3-item6:hover .hover-text {
    height: max-content;
    opacity: 1;
    transition: opacity 0.5s ease-in-out;
} 